.news__list {
  margin-top: 30px;
  padding-right: 70px;
  padding-left: 70px;
}
.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #072d4b;
}
.title__container {
  margin-bottom: 50px;
}
.notFound {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #072d4b;
  font-size: 20px;
}
