.sidebar {
  padding: 21px 31px;
}

.logo__container {
  display: flex;
  align-items: center;
}
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #0768b5;
  margin-left: 15px;
}
